.header {
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 27, 80);
    margin-top: 0;
}

.title {
    height: 100px;
}

.h1 {
    text-align: center;
    font-size: 3.5rem;
    line-height: 100px;
    color: rgb(63, 3, 32);
    text-shadow: 0 0 1px white, 0 0 4px rgb(255, 106, 0);
}