.pokesingle {
    display: flex;
    align-items: center;
    background-color: var(--eggplant);
    opacity: 0.8;
    height: 100%;
    min-height: 300px;
    width: 100%;
    border: 3px solid var(--burnt-orange);
    padding: 1rem;
}

.container {
    max-width: 80vw;
    display: flex;
}

.pokesingleImg {
    flex: 50%;
    height: 100%;
    padding: 1rem;
    margin: 1rem;
}

.info {
    flex: 50%;
    height: 100%;
    box-shadow: 0 0 1px white, 0 0 4px rgb(255, 106, 0);
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px;
}

a {
    color: orange;
}

.loading {
    color: orange;
    text-align: center;
    padding-top: 5rem;
    font-size: 2rem;
}

table {
    text-align: left;
    color: var(--yellow);
    min-width: 300px;
}

td {
    margin-left: 2rem;
    text-align: right;
}

button {
    font-size: 2rem;
    background-color: var(--yellow);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid var(--burnt-orange);
    position: relative;
    right: 150px;

}

li {
    list-style-type: none;
}

tr {
    height: 2rem;
}